# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- #

.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- #

*/model
./model
model

*/models
./models
models

*/label
./label
label

*/labels
./labels
labels

*/images
./images
images

audio-chunks
./audio-chunks
/audio-chunks

speech
./speech
/speech

temp
./temp
/temp

*/uploads
./uploads
uploads

*/output
./output
output

# Too heavy :(
FacialRecognition/modelFiles/*.h5
FacialRecognition/modelFiles/*.keras

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- #

# MySQL gitignore

./mysql
*/mysql
mysql
/mysql

mysql/scripts
./mysql/scripts
*/mysql/scripts
/mysql/scripts

mysql/.DS_Store
mysql/Thumbs.db

mysql/*.pem
mysql/ib*

mysql/sys/
mysql/mysql/
mysql/performance_schema/
mysql/masp/

mysql/auto.cnf
mysql/mysql.sock


# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore environment variables
.env

# Ignore Docker files
docker-compose.override.yml
docker-compose.override.yaml

# Ignore MySQL data directory
mysql/data/

# Ignore log files
*.log

# Ignore virtual environments
venv/
.env/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore OS generated files
.DS_Store
Thumbs.db

# Ignore .pems
*.pem

# Ignore files that begin with ib
ib*

# Ignore MySQL directories
sys/
mysql/
performance_schema/
masp/

auto.cnf
mysql.sock

credentials
./credentials